:host aside #aside-st{
  background-color: rgba(7, 55, 99, 1);
}

.stock-title h1 {
  margin: 0;
  font-size: 2rem;
}

.stock-title h3 {
  margin: 10px 0 0;
  color: #404040;
  font-weight: 400;
}

.stock-list{
  margin-top: 30px;
}
